* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: block;
}



 .wrapper {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
} 


 .container {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}


.header {
    width: 100%;
}

.header .container {
    justify-content: space-between;
    margin: 37px auto 60px auto; 

}


.header_basket{
    display: flex;
    flex-wrap: wrap;
}

.basket {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    gap: 10px;
    color:#000000;
    
}


.basket  span {
    width: 21px;
    height: 21px;
    background: #00A82D;
    border-radius: 50%;
    color: white;
    border: 1px solid #000000;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.basket:hover svg path {
    fill: #00A82D;
}

.basket:hover p {
    color:#00A82D;
}

.section__basket .container{
    margin: auto;
}


.basket-list{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    align-content: center;
    flex-flow: row;
    width: 100%;
    border-bottom: 1px solid #A8AFBB;;
}


.basket-list_img{
    width: 125px;
    height: 150px;
}

.basket-title{
    text-align: center;
    min-height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

.details-wrapper {
	display: flex;
	align-items: center;
}


.items {
	font-family: 'Merriweather', serif;
	background: white;
	border: 1px solid #000000;
	width: 159px;
	display: flex;
	font-size: 18px;
	height: 40px;
	overflow: hidden;
    text-align: center;
}


.items__control {
	width: 42px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
    
}

.items__control:hover {
    background: #296DC1;
    color: #FFF;
}

.items__current {
	width: 74px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

